<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/lib/foundation/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="static/lib/foundation/css/foundation.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/betcoin.css"/>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="small-4 small-centered columns">
          Bet Name
        </div>
        <div class="small-4 small-centered columns">
          Current Pot: $100
        </div>
      </div>
      <div class="row">
        <div class="small-4 small-centered columns">
          <a href="#" class="expand button">Place Bet</a>
        </div>
      </div>
      <div class="row">
        <div class="small-4 small-centered columns">
          ALL THE BETS
        </div>
      </div>
    </div>
  </body>
</html>
